# Fluentd configuration for parsing NGINX logs and exporting Prometheus metrics
fileConfigs:
  04_sources.conf: |-
    <source>
      @type prometheus_tail_monitor
    </source>
    
    <source>
      @type tail
      <parse>
        @type regexp
        expression /^(?<timestamp>.+) (?<stream>stdout|stderr)( (.))? (?<remote>[^ ]*) (?<host>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]*)\] \"(?<method>\w+)(?:\s+(?<path>[^\"]*?)(?:\s+\S*)?)?\" (?<status_code>[^ ]*) (?<size>[^ ]*)(?:\s"(?<referer>[^\"]*)") "(?<agent>[^\"]*)" (?<urt>[^ ]*) (?<instance>[^ ]*) (?<service_type>[^ ]*)$/
        time_format %d/%b/%Y:%H:%M:%S %z
        keep_time_key true
        types size:integer,reqtime:float,uct:float,uht:float,urt:float
      </parse>
      tag nginx
      path /var/log/containers/nginx*.log
      pos_file /tmp/fluent_nginx.pos
    </source>
    
  04_filters.conf: |-
    <filter nginx>
      @type prometheus
      
      <metric>
        name nginx_size_bytes_total
        type counter
        desc nginx bytes sent
        key size
        <labels>
          instance ${instance}
          service_type ${service_type}
        </labels>
      </metric>
      
      <metric>
        name nginx_request_status_code_total
        type counter
        desc nginx request status code
        <labels>
          method ${method}
          path ${path}
          status_code ${status_code}
          instance ${instance}
          service_type ${service_type}
        </labels>
      </metric>
      
      <metric>
        name nginx_upstream_time_seconds_hist
        type histogram
        desc Histogram of the total time spent on receiving the response from the upstream server.
        key urt
        <labels>
          method ${method}
          path ${path}
          status_code ${status_code}
          instance ${instance}
          service_type ${service_type}
        </labels>
      </metric>
    </filter>

# Enable metrics endpoint for Prometheus to scrape
metrics:
  enabled: true
  service:
    type: ClusterIP
    port: 24231
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: kube-prometheus

# Mount container log directory
mountVarLogDirectory: true
mountDockerContainersDirectory: true